
 #color>span {
 height: 35px;
 width: 35px;
 border-radius: 50%;
}
.red{
    background-color: red !important;
}
.brown {
    background-color: brown !important;
}
.pink{
    background-color: palevioletred !important;
} 
